@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* pagination css */
.item {
  align-items: center;
  color: rgb(121, 121, 121);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.disabled-page {
  color: #b2b2b2;
}

.active {
  border: solid 1px #373737;
  border-radius: 40px;
  color: #373737;
}


.next {
  border-left: solid 1px #373737;
  font-size: 4px;
  height: 30px;
  position: absolute;
  right: 0;
  width: 70px;
}

.pagination {
  align-items: center;
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 700px;
  border-radius: 10px;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  border-right: solid 1px #373737;
  font-size: 4px;
  height: 30px;
  left: 0;
  position: absolute;
  width: 70px;
}


@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg); 
	color: white;
	opacity: 0; 
	height: 16px; 
	width: 16px;
	position: absolute; 
	left: 50%;
	transform: translate(-50%, 0px);
} 

input:checked.defaultCheckbox::before { 
	opacity: 1;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  
  